* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.main-section {
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-family: 'Roboto Slab';
  font-size: 2.9em; 
  margin-bottom: .25em;
  margin-top: .5em;
}

.main-section-form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.idea-side-of-header-title {
  color: #00A79D;
}

.box-side-of-header-title {
  color: #6D6E71;
}

.input-fields {
  border: 1.8px solid #B7B9BB;
  font-size: 1.2em;
  height: 1.8em;
  margin-top: .9em;
  padding-left: .5em;
  width: 60%;
}

input::placeholder {
  color: #B7B9BB;
  margin-top: 1em;
}

.save-button {
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 1.2em;
  height: 1.9em;
  margin-bottom: 1.4em;
  margin-top: .9em;
  width: 60%;
}

.main-section-form {
  display: flex;
  flex-direction: column;
}

.idea-card-search-form {
  display: flex;
  flex-direction: column;
}

.input-search {
  margin-top: 1.25em;
}

.idea-card {
  margin-top: 2em;
  width: 60%;
}

.idea-card-title-and-delete-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3%;
}

.idea-card-title {
  color: #6D6E71;
  margin: 0;
}

.delete-button {
  margin: .15em 0 0 0;
}

.idea-card-text {
  color: #939598;
  font-family: 'Open Sans';
  line-height: 1.3em;
  overflow-y: scroll;
}

.card-buttons {
  height: 1.6em;
}

.vote-buttons-and-quality {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 1.2em;
  width: 29%;
}

.upvote-button, .downvote-button {
  margin: 0;
}

.quality {
  color: #6D6E71;
  margin: 0;
}

.quality-setting {
  font-family: 'Open Sans';
}

hr {
  margin-top: 1em;
}


